<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfx.demo.mapper.UserMapper">
    <select id="selectUsersByConditions" resultType="com.lfx.demo.entity.User">
        SELECT * FROM user
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="companyName != null and companyName != ''">
                AND company_name LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND time &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND time &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="findUserById" resultType="com.lfx.demo.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
</mapper> 